/* Fonts */
@font-face {
  font-family: 'Gameplay';
  src: url('../fonts/Gameplay.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Fullsize page */
html, body {
	width: 100%;
	height: 100%;
	background-color: #82C8E5;
}

/* Section for choice buttons */
.choiceframe {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 35%;
}

/* Dividers for choice buttons */
.opt1, .opt2, .opt3, .opt4 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 1%;
	width: 35%;
	height: 100%;
}

/* Choice button links */
.optlink {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Choice button images */
.optimg {
	width: 100%;
	height: 95%;
}

/* Contains name of each choice */
#choicetitles {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 30px;
	width: 80%;
	height: 10%;
}

/* Home page font style */
h1 {
	text-align: center;
	font-family: 'Gameplay';
	font-size: 700%;
	margin: 10% 0 0 0;
}
.subtitle {
	font-size: 250%;
}
#startbutton {
	font-size: 300%;
	color: #000;
	background-color: #BCC4CC;
	padding: 1%;
	text-decoration: none;
	text-transform: uppercase;
	border: outset;
}

/* Spacing for all main buttons */
.buttonwrap {
	margin: 2% 0 0 0;
}

/* Choice pages font style */
.vignette {
	text-align: center;
	font-size: 200%;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 50px;
	background-color: #FFF;
}

/* Apply Roboto and sizing to everything */
h2 {
	margin: 0 5%;
	font-family: 'Roboto';
	width: 100%;
}
p, a, li {
	width: 100%;
	text-align: center;
	font-family: 'Roboto';
	list-style-position: inside;
}

/* Misc. */
.container {
 	display: flex;
    justify-content: space-between; 
    width: 95%;
}
/**
.container > div {
    flex: 1;
} 
**/
.subtitle-2 {
	text-align: center;
	font-family: 'Gameplay';
	font-size: 200%;
}